n8n-workflows/CODE-FIXED-CONTENT-TEST.json
{
  "name": "Code-Fixed Content Test",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "code-fixed-test",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [120, 300],
      "webhookId": "code-fixed-test"
    },
    {
      "parameters": {
        "jsCode": "// Use Code node with n8n's $http helper for proper HTTP requests\nconst items = $input.all();\n\n// Prepare the request payload\nconst payload = {\n  content_id: `test_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`,\n  domain: 'finance',\n  prompt: 'Write a comprehensive analysis of current market trends and their implications for investors.',\n  style_parameters: {\n    tone: 'professional',\n    complexity: 'intermediate',\n    structure: 'analysis',\n    length: 'medium',\n    perspective: 'third-person'\n  },\n  source_metadata: {\n    title: 'Market Trends Analysis Test',\n    description: 'Testing content generation with comprehensive market data',\n    url: 'https://example.com/market-trends',\n    pub_date: new Date().toISOString()\n  }\n};\n\nconsole.log('Preparing to call content generation API with payload:', JSON.stringify(payload, null, 2));\n\n// Make HTTP request using n8n's $http helper\ntry {\n  const response = await $http.request({\n    method: 'POST',\n    url: 'http://localhost:8010/api/v1/content/generate',\n    headers: {\n      'Content-Type': 'application/json',\n      'X-Request-ID': payload.content_id\n    },\n    data: payload,\n    timeout: 30000\n  });\n  \n  console.log(`API Response Status: ${response.status}`);\n  console.log('Content generation successful:', response.data.content_id);\n  \n  return [{\n    json: {\n      success: true,\n      api_response: response.data,\n      request_payload: payload,\n      status: response.status,\n      timestamp: new Date().toISOString()\n    }\n  }];\n  \n} catch (error) {\n  console.error('Request failed:', error.message);\n  \n  const errorDetails = error.response ? {\n    status: error.response.status,\n    data: error.response.data\n  } : error.message;\n  \n  return [{\n    json: {\n      success: false,\n      error: 'API request failed',\n      error_details: errorDetails,\n      request_payload: payload,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"
      },
      "id": "content-api-caller-fixed",
      "name": "Content API Caller Fixed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 300]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [560, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Content API Caller Fixed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content API Caller Fixed": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-08-13T08:35:00.000Z",
      "updatedAt": "2025-08-13T08:35:00.000Z",
      "id": "code-fixed-test",
      "name": "code-fixed-test"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-08-13T08:35:00.000Z",
  "versionId": "v1.0.0-fixed"
}